@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #505050;
}

@theme inline {
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1100px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
  --font-outfit: "Outfit";
  --font-quicksand: "Quicksand";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-strilherezh-primary: #E0AA3E;
  --color-strilherezh-tertiary: #F5CA5B;
  --color-skornenn-primary: #003D75;
  --color-skornenn-secondary: #33CEF1;
  --color-muted: #AAAAAA;
  --color-accent: #E3E3E3;
}

h1, h2, h3, h4 {
  @apply font-outfit leading-[100%] tracking-[5%]
}

h1, h2 {
  @apply font-light;
}

h3, h4 {
  @apply font-normal;
}

h1 {
  @apply text-[50px] sm:text-[80px];
}
h2 {
  @apply text-[25px] sm:text-[40px] max-sm:text-[30px];
}
h3 {
  @apply text-[20px] sm:text-[30px];
}
h4 {
  @apply text-[15px] sm:text-[20px];
}

p, a {
  @apply text-xs xs:text-sm md:text-base font-quicksand leading-[100%] tracking-[0%]
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}